{% extends 'container/layout.html' %} {% block body %}
<h1>Container Plot</h1>
<form method="post">
  {% csrf_token %} {{ truck_form.as_p }}
  <!-- Render the truck form -->

  {{ form.management_form }}
  <!-- Required for formsets to work -->

  {% for form in form %}
  <fieldset>
    <legend>Box {{ forloop.counter }}</legend>
    {{ form.as_p }}
  </fieldset>
  {% empty %}
  <p>No box types available.</p>
  {% endfor %}

  <button type="submit">Submit</button>
</form>

{% if plot_div %}
<h2>Visualization</h2>
<div>{{ plot_div|safe }}</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endif %}
<a href="{% url 'container:index' %}">Back to Main Menu</a>

{% endblock %}
