{% extends "container/layout.html" %} {% block body %}
<nav class="navbar">
  <div class="logo">LoadingAlgo</div>
  <div class="nav-links">
    <a href="https://www.sampanconsulting.com/">About Us</a>
    <a href="{% url 'container:index' %}">Main Menu</a>
    <a href="{% url 'container:logout' %}">Logout</a>
  </div>
</nav>

<h1>Pallet Configuration</h1>

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

<div class="content-container">
  <h2>Visualization</h2>
  <div class="plot-container">
    {% if plot_div %} {{ plot_div | safe }} {% endif %}
  </div>

  <div class="text-container">{% if text %} {{ text | safe }} {% endif %}</div>
</div>

{% endblock %}
