{% extends "container/layout.html" %} {% load static %}{% block body %}
<style>
  body {
    background-image: url("{% static 'container/supply.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    background-attachment: fixed;
    color: #fff; /* Ensure text is readable on dark backgrounds */
    z-index: index 1;
  }
</style>
<!-- Navbar -->
<nav class="navbar">
  <div class="logo">LoadingAlgo</div>
  <div class="nav-links">
    <a href="https://www.sampanconsulting.com/">About Us</a>
    <a href="{% url 'container:login' %}">Login</a>
    <a href="{% url 'container:signup' %}">Sign Up</a>
  </div>
</nav>

<!-- Main content -->
<div class="form-container">
  <div class="form-wrapper">
    <h1 class="text-center">Sign Up</h1>

    {% if message %}
    <div class="notification">
      <p>{{ message }}</p>
    </div>
    {% endif %}

    <form action="{% url 'container:signup' %}" method="post" class="form">
      {% csrf_token %}
      <label for="new_username">New Username</label>
      <input
        id="new_username"
        type="text"
        name="new_username"
        placeholder="Enter your new username"
        class="input"
      />

      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Enter your password"
        class="input"
      />

      <button type="submit" class="button primary">Sign Up</button>
    </form>

    <p class="text-center">
      Existing User?
      <a href="{% url 'container:login' %}" class="link">Login</a>
    </p>
  </div>
</div>

{% endblock %}
